@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#4daf54), to(#3d8880));
  background-image: linear-gradient(to right, #4daf54, #3d8880);
  background-size: cover;
}

#app {
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}
#app .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90rem;
}
#app .square {
  background-color: #1d1d1d;
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  height: 4rem;
  width: 4rem;
  margin: 2px;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
#app .square:hover {
  -webkit-transition: 0s;
  transition: 0s;
}