@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 1.6rem;
	--primary-color: #0a6cf1;
    --background-color: #eee;
    --box-color: #dadada;
    --text-color: #333;
    height: 100vh;
    background-color: var(--background-color);
}


body.dark {
    --primary-color: #4daf54;
    --background-color: #2d2c2d;
    --box-color: #3b3a3b;
    --text-color: #fff;
    background-color: var(--background-color);
}

#app {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        h1 {
            color: var(--primary-color);
        }
        .toggle {
            label {
                width: 8rem;
                height: 3rem;
                background-color: #aaa;
                border-radius: 2rem;
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 3px;
                    transform: translate(0, -50%);
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    background-color: #fff;
                    transition: 0.25s;
                }
            }
            input:checked + label {
                background-color: var(--primary-color);
            }

            input:checked + label::after {
                transform: translate(200%, -50%);
            }
        }
    }
    main {
        width: 120rem;
        margin: 10rem auto;
        h2 {
            color: var(--primary-color);
            font-size: 5rem;
            text-align: center;
            margin-bottom: 3rem;
        }
        .box {
            background-color: var(--box-color);
            padding: 4rem;
            border-radius: 1rem;
            font-size: 2rem;
            p {
                color: var(--text-color);
            }
            &-social {
                margin-top: 4rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                a {
                    text-decoration: none;
                    padding: 1rem 2rem;
                    background-color: var(--primary-color);
                    color: #dadada;
                    border-radius: 1rem;
                    transition: all .3s ease-in-out;
                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }
    }
}