@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 1.6rem;
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    background-size: cover;
}


#app {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: 0.5s;
    }

    .container {
        border-radius: 2rem;
        padding: 2rem;
        background-color: #e2f3e2;
        margin: 2.5rem auto;
        margin-bottom: auto;
        width: 120rem;
        text-align: center;
        .food-menu {
            margin-bottom: 4rem;
            & button:hover,
            & button.active {
                color: #fff;
                background-color: #0f9d58;
            }
            button {
                color: #0f9d58;
                border: 1px solid #0f9d58;
                padding: 1rem 4rem;
                border-radius: 5rem;
                font-weight: 600;
                transition: 0.25s;
                cursor: pointer;
                background-color: #fff;
                margin: 5px;
            }
        }
        .food-list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .food-item {
                width: 20%;
                height: 20rem;
                margin: 1rem;
                border-radius: 2rem;
                overflow: hidden;
				cursor: pointer;
                &:hover img {
                    transform: scale(2) rotate(90deg);
                }
            }
        }
    }
    .hide {
        display: none;
    }
}
