@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 1.6rem;
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    background-size: cover;
}


#app {
    background: linear-gradient(145deg, #7c1599, #7e4ae8);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .player__video {
        width: 100%;
    }
    .player {
        width: 800px;
        position: relative;
        overflow: hidden;
        &:hover .player__controls {
            transform: unset;
        }
        &__controls {
            width: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            bottom: 0;
            left: 0;
            transform: translateY(100%);
            transition: 0.25s;
            background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
            color: white;
            & > * {
                margin: 5px;
            }
        }
        &__progress {
            flex: 1;
            height: 10px;
            background-color: #fff;
            position: relative;
            &__filled {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: rgb(95, 95, 236);
            }
        }
        &__button {
            outline: none;
            border: none;
            background-color: transparent;
            color: white;
            cursor: pointer;
            &:hover {
                color: rgb(95, 95, 236);
            }
        }
        &__volume {
            input {
                position: relative;
                top: 1px;
            }
        }
    }
    .toggle {
        font-size: 30px;
    }
}