@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#4daf54), to(#3d8880));
  background-image: linear-gradient(to right, #4daf54, #3d8880);
  background-size: cover;
}

#app {
  background: linear-gradient(145deg, #7c1599, #7e4ae8);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#app .player__video {
  width: 100%;
}
#app .player {
  width: 800px;
  position: relative;
  overflow: hidden;
}
#app .player:hover .player__controls {
  -webkit-transform: unset;
          transform: unset;
}
#app .player__controls {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
  color: white;
}
#app .player__controls > * {
  margin: 5px;
}
#app .player__progress {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 10px;
  background-color: #fff;
  position: relative;
}
#app .player__progress__filled {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(95, 95, 236);
}
#app .player__button {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
#app .player__button:hover {
  color: rgb(95, 95, 236);
}
#app .player__volume input {
  position: relative;
  top: 1px;
}
#app .toggle {
  font-size: 30px;
}