@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 1.6rem;
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    background-size: cover;
}


#app {
    background-color: #dadada;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .zoom {
        position: relative;
        display: flex;
        &__image {
            width: 500px;
            margin: 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
            cursor: none;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .result {
        position: absolute;
        width: 250px;
        height: 250px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        overflow: hidden;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
    .hide {
        display: none;
    }
}